<div class="contact text-center searchable" id="contact_<%= contact.id %>" data-contact-id="<%= contact.id %>">
  <hr>
  <%= fa_icon 'user' %>
  <%= link_to contact.name, contact_path(contact), class: 'ml-2' %>
  <%= link_to contact_path(contact), method: :delete, class: 'delete_contact ml-2',
              remote: true,
              data: { contact_id: contact.id, confirm: "Delete #{contact.name}?" } do %>
    <%= fa_icon 'trash' %>
  <% end %>
  <hr>
</div>
