<div class="col-lg-6 offset-lg-3">
  <%= simple_form_for @contact do |f| %>
    <%= f.input :name, required: true, autofocus: true, value: @contact.name %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>