<h1 class="text-center">Contacts</h1>
<div class="col-lg-4 offset-lg-4">
  <form class="form-inline my-2 my-lg-0" id="search_form">
    <input class="form-control mr-sm-2" id="search_query" type="search" placeholder="Search" aria-label="Search" name="query">
  </form>
</div>
<%= render @contacts %>