<div id="contact_<%= @contact.id %>" class="contact">
  <h1 class="text-center"><%= @contact.name %></h1>
  <div class="contact_controls text-center">
    <%= link_to 'Edit name', edit_contact_path(@contact) %> |
    <%= link_to 'Delete', @contact,
                method: :delete,
                data: { confirm: "Delete #{@contact.name}?" } %>
  </div>
  <hr>
  <h3 class="text-center">Phone numbers</h3>
  <hr>
  <div class="contacts text-center" id="phones">
    <%= render partial: 'phone_numbers/phone_number', collection: @contact.phone_numbers %>
  </div>
  <hr>
  <div class="phone_form col-lg-6 offset-lg-3">
    <%= render 'phone_numbers/form' %>
    <%= render 'tags/modal_form' %>
  </div>
</div>