<%= simple_form_for @phone_number, url: contact_phone_numbers_path(@contact), method: :post, remote: true, html: { class: 'form-inline' } do |f| %>
  <%= f.input :tag_id, as: :select, collection: @select_tags, include_blank: false %>
  <%= f.input :number, required: true, autofocus: true,
              value: @phone_number.number %>
  <%= f.submit value: 'Add number', class: 'btn btn-primary ml-2' %>
<% end %>
