<div class="phone" id="phone_<%= phone_number.id %>">
  <%= phone_number.tag.name %> : <%= phone_number.number %>
  <%= link_to 'Delete', contact_phone_number_path(phone_number.contact.id, phone_number),
              remote: true, method: :delete, class: 'delete_phone',
              data: { confirm: "Delete #{phone_number.number}?" } %>
</div>