<div class="modal fade" id="tag_modal_form" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <%= simple_form_for Tag.new, html: { class: 'inline-form' }, remote: true do |f| %>
        <%= f.input :name, required: true, autofocus: true %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>