// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$delete_link_color: #DC143C;

.contact {
  .delete_contact {
    color: $delete_link_color;
  }
}